VITE_API_BASE_URL=

VITE_PRODUCTS_GET_ENDPOINTS=/products
VITE_PRODUCTS_CREATE_ENDPOINTS=/products
VITE_PRODUCTS_UPDATE_ENDPOINTS=/products/{id}
VITE_PRODUCTS_DELETE_ENDPOINTS=/products/{id}

VITE_CATEGORIES_GET_ENDPOINTS=/categories
VITE_CATEGORIES_CREATE_ENDPOINTS=/categories
VITE_CATEGORIES_UPDATE_ENDPOINTS=/categories/{id}
VITE_CATEGORIES_DELETE_ENDPOINTS=/categories/{id}

VITE_CART_LIST_ENDPOINTS=/cart
VITE_CART_ADD_ENDPOINTS=/cart
VITE_CART_DELETE_ENDPOINTS=/cart/{productId}
